params {
    ecr_registry = '664263524008.dkr.ecr.us-west-2.amazonaws.com'
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?ALEVINQC' { container = 'quay/biocontainers/bioconductor-alevinqc:1.18.0--r43hf17093f_0' }
withName: '(.+:)?ANNDATAR_CONVERT' { container = 'nfcore/anndatar:20241129' }
withName: '(.+:)?CONCAT_H5AD' { container = 'quay/community.wave.seqera.io/library/scanpy:1.10.2--e83da2205b92a538' }
withName: '(.+:)?GFFREAD_TRANSCRIPTOME' { container = 'quay/biocontainers/gffread:0.12.7--hd03093a_1' }
withName: '(.+:)?GTF_GENE_FILTER' { container = 'quay/biocontainers/python:3.9--1' }
withName: '(.+:)?MTX_TO_H5AD' { container = 'quay/community.wave.seqera.io/library/scanpy:1.10.2--e83da2205b92a538' }
withName: '(.+:)?PARSE_CELLRANGERMULTI_SAMPLESHEET' { container = 'quay/biocontainers/python:3.9--1' }
withName: '(.+:)?STAR_ALIGN' { container = 'quay/biocontainers/star:2.7.10b--h9ee0642_0' }
withName: '(.+:)?ANNDATA_BARCODES' { container = 'quay/community.wave.seqera.io/library/anndata:0.10.9--1eab54e300e1e584' }
withName: '(.+:)?CELLBENDER_REMOVEBACKGROUND' { container = 'quay/community.wave.seqera.io/library/cellbender_webcolors:9cfb55914fc5dcea' }
withName: '(.+:)?CELLRANGER_COUNT' { container = 'quay/nf-core/cellranger:8.0.0' }
withName: '(.+:)?CELLRANGER_MKGTF' { container = 'quay/nf-core/cellranger:8.0.0' }
withName: '(.+:)?CELLRANGER_MKREF' { container = 'quay/nf-core/cellranger:8.0.0' }
withName: '(.+:)?CELLRANGER_MKVDJREF' { container = 'quay/nf-core/cellranger:8.0.0' }
withName: '(.+:)?CELLRANGER_MULTI' { container = 'quay/nf-core/cellranger:8.0.0' }
withName: '(.+:)?CELLRANGERARC_COUNT' { container = 'quay/nf-core/cellranger-arc:2.0.2' }
withName: '(.+:)?CELLRANGERARC_MKGTF' { container = 'quay/nf-core/cellranger-arc:2.0.2' }
withName: '(.+:)?CELLRANGERARC_MKREF' { container = 'quay/nf-core/cellranger-arc:2.0.2' }
withName: '(.+:)?FASTQC' { container = 'quay/biocontainers/fastqc:0.12.1--hdfd78af_0' }
withName: '(.+:)?GFFREAD' { container = 'quay/biocontainers/gffread:0.12.1--h8b12597_0' }
withName: '(.+:)?GUNZIP' { container = 'quay/nf-core/ubuntu:22.04' }
withName: '(.+:)?KALLISTOBUSTOOLS_COUNT' { container = 'quay/biocontainers/kb-python:0.28.2--pyhdfd78af_2' }
withName: '(.+:)?KALLISTOBUSTOOLS_REF' { container = 'quay/biocontainers/kb-python:0.28.2--pyhdfd78af_2' }
withName: '(.+:)?MULTIQC' { container = 'quay/biocontainers/multiqc:1.27--pyhdfd78af_0' }
withName: '(.+:)?SIMPLEAF_INDEX' { container = 'quay/biocontainers/simpleaf:0.19.4--ha6fb395_0' }
withName: '(.+:)?SIMPLEAF_QUANT' { container = 'quay/biocontainers/simpleaf:0.19.4--ha6fb395_0' }
withName: '(.+:)?STAR_GENOMEGENERATE' { container = 'quay/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:ded3841da0194af2701c780e9b3d653a85d27489-0' }
withName: '(.+:)?UNZIP' { container = 'quay/biocontainers/p7zip:16.02' }
}
